body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 3px solid #B48954;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

header img {
    height: 65px;
}

.formulario-container {
    background-color: #fff;
    border: 3px solid #7b1e3d;
    border-radius: 20px;
    width: 50%;
    margin: 60px auto;
    padding: 40px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #6b1e3d;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

h2 {
    color: #000;
    font-size: 20px;
    margin-bottom: 30px;
}

p {
    color: #333;
    font-size: 16px;
    text-align: left;
    margin: 10px 0;
}

label {
    display: block;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-family: inherit;
    resize: none;
}

.btn-solicitar, .btn-cancelar {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-solicitar {
    background-color: #7b1e3d;
    color: white;
    border: none;
}

.btn-cancelar {
    background-color: #ccc;
    color: #000;
}

.btn-solicitar:hover {
    background-color: #5b152f;
}

footer {
 background: none;
   border-top: 3px solid var(--dorado);
   text-align: center;
   padding: 10px;
   color: #333;
   font-size: 14px;
}