:root{
  --vino:#7B1E3D;
  --dorado:#B48954;
  --gris:#f9f9f9;
}

*{ box-sizing:border-box; margin:0; padding:0; font-family:Arial, sans-serif; }

body{
  background:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.login-container{
  display:flex;
  width:90%;
  max-width:1100px;
  background:#fff;
  border-radius:10px;
  box-shadow:0 8px 20px rgba(0,0,0,0.1);
  overflow:hidden;
}

/* Panel izquierdo */
.login-left{
  flex:1;
  background:var(--vino);
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;
  font-size:28px;
  font-weight:bold;
  padding:20px;

   background-image: url("/img/degradado.png"); /* tu imagen */
    background-repeat: repeat;    /* se repite en mosaico */
    background-size: auto;        /* usa el tamaño original */
    background-position: center;  /* centrado */
}

/* Panel derecho */
.login-right{
  flex:1.5;
  padding:40px;
  position:relative;
}

.logo-edomex{
  position:absolute;
  top:20px;
  right:20px;
  height:50px;
}

.login-right h1{
  margin-top:40px;
  margin-bottom:30px;
  font-size:26px;
  color:#222;
}

.form-login label{
  display:block;
  margin-bottom:6px;
  font-weight:bold;
  color:#333;
}

.form-login input,
.form-login select{
  width:100%;
  padding:12px;
  margin-bottom:18px;
  border:1px solid #ccc;
  border-radius:6px;
  font-size:15px;
}

.password-wrapper{
  position:relative;
}
.password-wrapper input{ padding-right:40px; }
.toggle-password{
  position:absolute;
  top:50%; right:10px;
  transform:translateY(-50%);
  cursor:pointer;
  font-size:18px;
}

/* Línea dorada decorativa */
.decoracion{
  height:10px;
  background:var(--dorado);
  border-radius:5px;
  margin:18px 0 26px 0;
}

/* Botón */
.btn-login{
  width:100%;
  background:var(--vino);
  color:#fff;
  border:none;
  padding:14px;
  font-size:16px;
  border-radius:6px;
  cursor:pointer;
  font-weight:bold;
}
.btn-login:hover{ background:#5e152e; }

/* Footer */
footer{
  margin-top:40px;
  text-align:center;
  font-size:14px;
  color:#555;
}
