body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 3px solid #B48954;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

header img {
    height: 65px;
}

h1 {
    text-align: center;
    color: #6b1e3d;
    margin-top: 40px;
    font-size: 26px;
}

.formulario {
    width: 40%;
    margin: 40px auto;
    background-color: #fff;
    border: 2px solid #7b1e3d;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 15px;
    color: #333;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn-enviar {
    background-color: #7b1e3d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
}

.btn-enviar:hover {
    background-color: #5b152f;
}

  footer {
   background: none;
     border-top: 3px solid var(--dorado);
     text-align: center;
     padding: 10px;
     color: #333;
     font-size: 14px;
  }

