/* TÍTULO */
.titulo-seccion {
    text-align: center;
    color: var(--vino);
    margin-top: 30px;
    font-size: 26px;
}

/* FORMULARIO */
.formulario {
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    background: #fff;
    border: 2px solid var(--vino);
    border-radius: 14px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* ACCIONES */
.acciones-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 25px;
}

/* BOTÓN PRINCIPAL */
.btn-enviar {
    background: linear-gradient(135deg, var(--vino), #5e152e);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.25s;
}

.btn-enviar:hover {
    background: linear-gradient(135deg, #5e152e, var(--vino));
}

/* BOTÓN SECUNDARIO */
.btn-regresar {
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid var(--vino);
    color: var(--vino);
    font-weight: 600;
    text-decoration: none;
    transition: 0.25s;
}

.btn-regresar:hover {
    background: var(--vino);
    color: #fff;
}
