:root {
    --vino: #7B1E3D;
    --dorado: #C49A67;
    --gris: #e6e6e6;
    --panel: #EBEBEB;
    --texto: #222;
}

/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}

/* LAYOUT */
.layout {
    display: flex;
    padding: 30px;
    gap: 25px;
    flex: 1;
}

/* SIDEBAR */
/* ===== SIDEBAR ===== */
.sidebar {
    width: 260px;
    background: #dcdcdc;
    border-radius: 18px;
    padding: 30px;
    text-align: center;
}

/* Usuario */
.user-card img {
    width: 80px;
    margin-bottom: 8px;
}

.username {
    font-weight: bold;
    color: var(--vino);
    margin-bottom: 30px;
}

/* ===== MENÚ ===== */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 18px;
}

/* Links generales */
.sidebar ul li a {
    display: block;
    padding: 14px 10px;
    text-decoration: none;
    font-weight: 600;
    color: #333;
    border-bottom: 2px solid #bfbfbf;
    transition: all 0.2s ease;
}

/* Hover */
.sidebar ul li a:hover {
    color: var(--vino);
    background: rgba(0,0,0,0.05);
}

/* Activo (Estado del ticket) */
.sidebar ul li a.activo {
    color: var(--vino);
    border-bottom: 3px solid var(--vino);
}

/* ===== BOTÓN VOLVER ===== */
.sidebar ul li.volver {
    margin-top: 45px;
}

.sidebar ul li.volver a {
    border-bottom: none;
    color: var(--vino);
    font-weight: bold;
}

.sidebar ul li.volver a:hover {
    background: none;
    text-decoration: underline;
}


/* CONTENT */
.content {
    flex: 1;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
    color: var(--vino);
    margin-bottom: 20px;
}

/* PANEL */
.panel {
    background: var(--panel);
    padding: 30px;
    border-radius: 18px;
}

/* TARJETA */
.card {
    background: white;
    border: 1px solid #cfcfcf;
    padding: 22px;
    border-radius: 14px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
    background: #f3f3f3;
}

.titulo-area {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* BOTÓN */
.btn-open {
    background: var(--dorado);
    color: white;
    padding: 10px 22px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn-open:hover {
    background: #9f784b;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 14px;
    margin-top: 40px;
    background: white;
    color: #333;
    font-size: 14px;
    border-top: 3px solid var(--dorado);
}

/* ESTRUCTURA PARA FOOTER ABAJO */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
