:root {
    --vino: #7B1E3D;
    --dorado: #B48954;
    --gris-claro: #EDEDED;
    --gris-suave: #F7F7F7;
}

/* GENERAL */
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: var(--gris-claro);
}

/* HEADER */
.header {
    background: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
}

.header-container img {
    height: 60px;
}

.menu a {
    color: #444;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
}

.btn-logout {
    background: var(--dorado);
    color: white !important;
    padding: 6px 15px;
    border-radius: 6px;
}

.gold-line {
    width: 100%;
    height: 3px;
    background: var(--dorado);
}

/* LAYOUT */
.layout {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: white;
    padding: 20px;
    text-align: center;
    height: calc(100vh - 90px);
}

.user-card img {
    width: 80px;
    margin-bottom: 10px;
}

.user-card h2 {
    color: #555;
    font-weight: bold;
    margin-bottom: 25px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 25px 0;
}

.sidebar a {
    color: #555;
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
}

.sidebar a:hover {
    color: var(--vino);
}

/* CONTENT */
.content {
    flex: 1;
    padding: 40px;
}

.content-box {
    background: var(--gris-suave);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    border: 2px solid #ddd;
}

.content h1 {
    font-size: 46px; /* más grande */
    font-weight: 700; /* más grueso */
    margin-bottom: 35px;
    color: #333;
}


/* ICONOS */
.icon-grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    justify-content: center;
    gap: 45px;
    padding: 20px 0;
}

.icon-grid img {
    width: 95px;
    transition: transform 0.2s;
}

.icon-grid img:hover {
    transform: scale(1.08);
}

/* BOTÓN */
.btn-ver {
    display: inline-block;
    margin-top: 30px;
    background: var(--vino);
    padding: 15px 35px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    font-weight: bold;
}

.btn-ver:hover {
    background: #5f152d;
}

/* FOOTER */
footer {
 background: none;
   border-top: 3px solid var(--dorado);
   text-align: center;
   padding: 10px;
   color: #333;
   font-size: 14px;
}
