body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 3px solid #B48954;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

header img {
    height: 65px;
}

.ticket-container {
    background-color: #fff;
    border: 3px solid #7b1e3d;
    border-radius: 20px;
    width: 50%;
    margin: 60px auto;
    padding: 40px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #6b1e3d;
    font-size: 26px;
    margin-bottom: 20px;
}

p {
    color: #333;
    font-size: 16px;
    margin: 10px 0;
}

.btn-cerrar {
    background-color: #7b1e3d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
}
.btn-solicitar {
    background-color: #B48954; /* Dorado institucional */
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 60%;
    margin: 20px auto;
    transition: 0.3s ease-in-out;
}

.btn-solicitar:hover {
    background-color: #967341; /* Dorado más oscuro */
    transform: scale(1.03);
}


.btn-cerrar:hover {
    background-color: #5b152f;
}

footer {
 background: none;
   border-top: 3px solid var(--dorado);
   text-align: center;
   padding: 10px;
   color: #333;
   font-size: 14px;
}
