/* CONTENEDOR */
.ticket-container {
    background: #fff;
    border: 3px solid var(--vino);
    border-radius: 20px;
    width: 100%;
    max-width: 650px;
    margin: 50px auto;
    padding: 40px;
    box-shadow: 0 8px 22px rgba(0,0,0,0.12);
    text-align: center;
}

/* TÍTULO */
.ticket-container h1 {
    color: var(--vino);
    font-size: 26px;
    margin-bottom: 20px;
}

/* TEXTO */
.ticket-container p {
    font-size: 15px;
    color: #333;
    margin: 10px 0;
}

/* ACCIONES */
.acciones-ticket {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 25px;
}

/* BOTÓN PDF */
.btn-pdf {
    background: linear-gradient(135deg, var(--dorado), #967341);
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: .25s;
}

.btn-pdf:hover {
    transform: scale(1.03);
    background: linear-gradient(135deg, #967341, var(--dorado));
}

/* BOTÓN CERRAR */
.btn-cerrar {
    background: #fff;
    color: var(--vino);
    border: 2px solid var(--vino);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: .25s;
}

.btn-cerrar:hover {
    background: var(--vino);
    color: #fff;
}
